{% extends 'base.html.twig' %}

{% block title %}Edit Payroll{% endblock %}

{% block body %}
    <h1>Edit Payroll</h1>

    {{ include('payroll/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_payroll_index') }}">back to list</a>

    {{ include('payroll/_delete_form.html.twig') }}
{% endblock %}
