{% extends 'base.html.twig' %}

{% block title %}New Payroll{% endblock %}

{% block body %}
    <h1>Create new Payroll</h1>

    {{ include('payroll/_form.html.twig') }}

    <a href="{{ path('app_payroll_index') }}">back to list</a>
{% endblock %}
